# Portal target
TARGET_URL=https://www.computrabajo.com.pe/trabajo-de-desarrollador
TARGET_JOBS=100

# Browser
HEADLESS=true

# Output
OUTPUT_DIR=data/processed

# Supabase
SUPABASE_URL=https://gfqyrewwsfnczuiteqhy.supabase.co
SUPABASE_KEY=your_anon_key_here
